body{
    margin: 0;
    padding: 0;
}
#mainarea{
    width: 1500px;
    background-color: black;
    margin: 0 auto;
}
#contactarea{
    width:1500px;
    height: 40px;
    background-color:#0f225d;
}
#carea{
    width: 780px;
    height:40px;
    background-color: #0f225d;
    color: white;
    margin-left: 150px;
}
#carea ul li{
    list-style: none;
    padding: 10px 10px;
}
#carea ul li{
    float: left;
}
#carea ul li a{
    color: white;
    text-decoration: none;
    display: block;
}
#carea ul li:hover a{
    color:orange;
}
#carea img{
    width: 40px;
    height: 32px;
    background-color: white;
    margin: 4px 0;
}
#contarea{
    width:20px;
    height: 40px;
    background-color: black;
}
#toparea{
    width: 1500px;
    height: 160px;
    background-color: aliceblue;
}
#titlearea{
    width:1165px;
    height: 159px;
    background-color: white;
    float: left;
}
#regarea{
  width:330px;
  height: 160px;
  background-color: white;  
  float: left;
}
.rarea{
    width:200px;
    height: 25px;
    background-color: #0f225d;
    margin:4px 60px;
    padding: 10px 0 0 0;
    text-align: center;
    border-radius: 10px;
    color:white; 
}
.bg1{
    background-color: #314d61;
}
.bg2{
    background-color:#f00;
}
.bg3{
    background-color: lightskyblue;
}
.bg4{
    background-color: #4fbf46;
}
#menuarea{
    width:1500px;
    height:35px;
    background-color: #0f225d ;
    color: white;
    position:sticky;
    top: 0;
}
#menuarea ul{
    list-style: none;
    margin: 0px 200px;
    padding: 4px 4px;  
}
#menuarea ul li{
    float: left;
}
#menuarea ul li,#menuarea ul li{
        float: left;
        padding: 5px 10px;
        display: block;
        border-right: solid 1px black;
}
#menuarea ul li ul{
    background-color: #0f225d;
}
#menuarea ul li ul{
    display:none;
}
#menuarea ul li:hover ul{
    display:block;
    position:absolute;
    z-index:1000;
}
#menuarea ul li:hover ul li{
    float: none;
}   
#slidearea{
    width:1500px ;
    height: 350px;
    background-color:lime; 
}
#slidearea iframe{
    width: 100%;
    height: 100%;
}
#marqueearea{
    width:1500px;
    height: 28px;
    color: white;
    background-color: #0f225d;  
    font-size: 100%; 
}
#marqueearea img{
    width:40px;
    height:20px;
}
#workarea{
    width:1500px;
    height:250px;
    background-color: white;
    float: left;
}
.workarea1{
    width:140px;
    height: 150px;
    background-color: #001430;
    float: left;
    margin: 50px;
    border:  solid 3px red;
}
.workarea1:hover{
    border:  solid 5px green;
}
.workarea1 img{
    width: 120px;
    height:80px;
    position: relative;
}
.workarea1 .detail {
    position: relative;
    bottom: 0px;
    padding: 25px 0;
    width: 100%;
    text-align: center;
    color:white;
    font-size: 20;
}
#deatilarea{
    width: 1500px;
    height: 220px;
    background-color: darkcyan;
}
#infoarea{
    width: 1500px;
    height: 700px;
    background-image: url(https://aiimspatna.edu.in/img/parallax.jpg);
}
.info1{
    width: 330px;
    height: 300px;
    background-color: #0f225d;
    float: left;
    margin: 70px;
    border: solid 10px white;
    overflow: hidden;
}
.in{
    width: 320px;
    height: 40px;
    background-color:#b15110;
    padding:0 8px 0 2px;
    color: white;
}
.infoarea1 div p{
    float: left;
    margin: 10px 0 0 0;
}
#infoarea p{
    color:bisque;
}
.in span{ 
    color: white;
    padding: 5px 5px;
    background-color: #001430;
    float: right;
    margin: 5px 4px 0 0;
}
.in span:hover{
    font-style:normal;
    color: black;
    background-color: burlywood;
}
.info1 img{
    width: 20px;
    height: 20px;
    color: white;
}   
#detailarea{
    width: 1500px;
    height: 500px;
    background-color:#fff7ef 
}
#detailarea1{
    width: 350px;
    height: 350px;
    background-color: burlywood;
    margin: 50px 100px;
    border-radius: 50%;
    float: left;
}
#detailarea1 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#detailarea2{
    width: 350px;
    height: 350px;
    background-color:white;
    margin: 50px 50px;
    float: left;
    color:black;
    text-align: justify;
    text-align: left;
}
#detailarea2 h2{
    color: #b15110;
    text-align: center;
}
#detailarea2 h3{
    text-align: center;
}
#detailarea3{
    width: 350px;
    height: 450px;
    background-color: white;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    text-align: justify;
    overflow: hidden;
    overflow-y: scroll;
}
#detailarea3 div{
    width: 350px;
    height: 20px;
    background-color: aqua;
}
#servicearea{
    width: 1500px;
    height: 300px;
    background-image: url(https://aiimspatna.edu.in/img/work-bg.jpg);
    text-align: center;
}
.servicearea1{
    width: 270px;
    height: 200px;
    background-color: white;
    margin: 50px 52px;
    float: left;
}
.servicearea1 img{
    width: 100%;
    height: 100%;
}
#totalarea{
    width: 1500px;
    height: 150px;
    background-image:url(https://aiimspatna.edu.in/img/counter-bg.jpg)
}
.totalarea1{
    width:300px;
    height: 80px;
    background-color: white;
    margin: 20px 17px;
    padding: 16px;
    float: left;
    text-align: center;
}
#galleryarea{
    width: 1500px;
    height: 350px;
    background-color: white;
}
.galleryarea1{
    width: 250px;
    height: 200px;
    background-color: #0f225d;
    margin: 100px 65px 0px 60px;
    float: left;
    position: relative;
}
.galleryarea1 img{
    width: 100%;
    height: 100%;
}
.galleryarea2{
    position: absolute;
    bottom: 0px;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    background-color: skyblue;
    background:linear-gradient(to bottom,transparent,skyblue);
}
.galleryarea2:hover{
    background-color: #2ba3ca ;
}
#darea{
    width: 1500px;
    height: 130px;
    background-color: skyblue;
}
.darea{
    width:200px;
    height: 70px;
    background-color: white;
    margin: 24px;
    float: left;
    border: solid 1px salmon;
}
.darea img{
    width: 100%;
    height: 100%;
}
#boxmainarea{
    width: 1500px;
    height: 400px;
    background-image: url(https://aiimspatna.edu.in/img/footer-bg.jpg);
    float: left;
}
#boxarea{
    width: 1380px;
    height: 340px;
    background-image: url(https://aiimspatna.edu.in/img/footer-bg.jpg);
    margin:35px;
    float: left;
    opacity: 0.9;
}
#boxarea h2{
    color: #b15110;
}
#boxarea ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#boxarea ul li{
    margin:6px 0;
}
#boxarea1{
    width: 250px;
    height: 330px;
    background-image: url(https://aiimspatna.edu.in/img/footer-bg.jpg);
    margin: 5px 62px;
    float: left;
    color: white;
}
#boxarea2{
    width: 250px;
    height: 250px;
    background-image: url(https://aiimspatna.edu.in/img/footer-bg.jpg);
    margin: 30px;
    float: left;
    color: white;
}
#boxarea3{
    width: 250px;
    height: 330px;
    background-image: url(https://aiimspatna.edu.in/img/footer-bg.jpg);
    margin: 5px 62px;
    float: left;
    color: white;
}   
#boxarea3 ul{
    list-style-type: none;
    margin: 1px;
    padding: 2px;
}
#boxarea3 ul li{
    margin:5px 0;
}
#boxarea a{
    color: white;
}
#boxarea4{
    width: 250px;
    height: 330px;
    background-image: url(https://aiimspatna.edu.in/img/footer-bg.jpg);
    margin: 5px 6px;
    float: left;
    color: white;
}
.info1 video{
    width: 100%;
}
#footermainarea{
    width: 1500px;
    height: 80px;
    background-color: darkblue;
    float: left;
}
#footerarea{
    width: 1300px;
    height: 55px;
    /* background-color: #2ba3ca; */
    background-color:darkblue;
    margin: 12px 15px 5px 95px;
}
#footerarea h3{
    color: #b15110;
    text-align: center;
    margin: 1px;
}
#footerarea p{
    color: white;
    text-align: left;
    margin: 2px;
}
#f1{
    width: 480px;
    height: 30px;
    background-color:darkblue;
    float: left;
    margin: 10px 5px 5px 80px;   
}
.f2{
    width: 150px;
    height: 30px;
    background-color: darkblue;
    float: left;
    margin: 10px 5px 0px 80px;
}